section {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    pointer-events: initial;

    position: absolute;
    text-align: left;
    top: 0px;
    width: calc(100% - 15rem);
    height: 100%;
    box-sizing: border-box;
    padding-left: 50px;
    padding-top: 20px;
    margin-left: 15rem;

    background: rgba(255, 255, 255, 1);
    opacity: 0;
    z-index: 1;
    
    overflow: auto;
    transform: translateX(100%);
    transition: transform 0.4s, opacity 0.4s;
    box-shadow: 0 0 10em 0 rgba(0,0,0,0.4);
}

section.section-is-active {
    transform: translateX(0);
    opacity: 1;
    transition: opacity 0.4s, transform 0.4s;
    height: 100%;
    z-index: 1;
    display: flex;
}

section > .section-content-part {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
}

section .section-close-button {
    display: inline-block;
    font-size: 26px;
    width: 13rem;
    vertical-align: baseline;
}

section .section-header-title {
    display: inline-block;
    font-size: 50px;
    vertical-align: baseline;
}

section .section-content-part .left-part {
    width: 13rem;
    flex-shrink: 0;
}

section .section-content-part .right-part {
    display: flex;
    flex: 1;
}
