* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Oswald", "Segoe UI Light", "Helvetica Neue", sans-serif;
    font-size: 26px;
    letter-spacing: -0.01em;
}

.container {
}

ol, ul {
    padding-left: 30px;
}

a {
    text-decoration: none;
    color: black;
}

input, textarea, select, button {
    font-family: "Oswald";
    font-size: 26px;
    font-weight: 200;
    font-style: normal;
    border: none;
    outline: none;
}

input[type="text"] {
    padding: 0.5em 1em;
    text-transform: uppercase;
    border-top: 1px solid #aaa;
}

#title {
    pointer-events: none;
    position: relative;
    width: 100%;
    text-align: right;
    top: 0.2em;
    right: 0.75em;
    font-family: "Pacifico", cursive;
    font-size: 30px;
    -webkit-transition: width 0.4s, right 0.4s;
    transition: width 0.4s, right 0.4s;
}

nav {
    font-family: "Oswald", sans-serif;
    font-style: normal;
    font-size: 48px;
    text-align: left;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    margin-top: 1em;
    /*-webkit-transition: left 0.4s;
    transition: left 0.4s;*/
}

nav::after {
    pointer-events: none;
    content: "";
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    background: black;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

nav .nav-item {
    text-decoration: none;
    letter-spacing: -0.02em;
    margin-left: 1em;
    display: block;
    margin-top: 25px;
    color: #7F7F7F;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}

nav .nav-item:hover {
    color: black;
}

.nav-item::before {
    content: '';
    position: absolute;
    color: red;
    z-index: -1;
    height: 0.4em;
    width: 80%;
    padding-left: 0%;
    left: 125px;
    margin-top:1em;
    background: #FFFF00;
    opacity: 0.7;
    -webkit-transform: scale3d(0,1,1);
    transform: scale3d(0,1,1);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    /*height: 36px;
    -webkit-transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
    transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
    */
}

.nav-item:hover::before {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

section {
    pointer-events: none;
    position: fixed;
    text-align: left;
    top: 0px;
    left: 12rem;
    width: calc(100% - 12rem);
    height: 100%;
    box-sizing: border-box;
    padding-left: 50px;
    padding-top: 20px;
    background: white;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 0.4s, opacity 0.4s;
    box-shadow: 0 0 10em 0 rgba(0,0,0,0.2);
}

section.section-is-active {
    pointer-events: initial;
    transform: translateX(0);
    opacity: 1;
}

section > .section-header-part {
    display: block;
}

section > .section-content-part {
    display: block;
}

section .section-close-button {
    display: inline-block;
    font-size: 26px;
    width: 13rem;
    vertical-align: baseline;
}

section .section-header-title {
    display: inline-block;
    font-size: 50px;
    width: 60%;
    vertical-align: baseline;
}

section .section-content-part .left-part {
    display: inline-block;
    width: 13rem;
}

section .section-content-part .right-part {
    display: inline-block;
}

/* FORM - Create input */
.add-item-form {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid;
    border-bottom-color: #777;
    margin-top: 2rem;
    width: 25rem;
    height: 30rem;

    font-family: "Oswald";
    font-size: 26px;
    font-weight: 200;
    font-style: normal;
}

/* FORM: 1/2 - DESCRIPTION */
.add-item-description input[name="description"] {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.add-item-description .decoration-under-input {
    background: repeating-linear-gradient(
        45deg,
        white,
        white 2px,
        #444 2px,
        #444 4px
    );
    height: 12px;
}

/* FORM: 2/2 - PICTURE */
.add-item-form .add-item-picture {
    flex: 1;
    background: #FFFF7F;
    z-index: 3;
}

.add-item-form input[name="picture"] {
    cursor: pointer; /* "hand" cursor */
    width: 100%;
    height: 100%;
}

.add-item-form .picture-upload-bg {
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    text-align: center;
    /*background: #FFFF7F;*/
    color: #777;
    text-transform: uppercase;
}

@media screen and (max-width: 42em) {
	header { font-size: 2em; }
	nav { font-size: 3.25em; }
}

/* Takiri */
.link--takiri {
    font-style: italic;
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 7em;
    padding: 0 10px 20px;
    -webkit-transition: color 0.5s;
    transition: color 0.5s;
}

.link--takiri:hover {
    color: #1e1a1b;
}

.link--takiri::before {
    content: '';
    position: absolute;
    height: 36px;
    width: 120%;
    top: 50%;
    margin-top: -18px;
    left: -10%;
    z-index: -1;
    background: #F9F9F9;
    -webkit-transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
    transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

.link--takiri:hover::before {
    -webkit-transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
    transform: rotate3d(0,0,1,45deg) scale3d(1,1,1);
}
