* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Oswald", "Segoe UI Light", "Helvetica Neue", sans-serif;
    font-size: 26px;
    letter-spacing: -0.01em;
}

.global-msg-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}

.global-msg-container > h2 {
    position: absolute;
    margin-bottom: 1.5rem;
    transform: translateY(-3.5rem);
}

.global-msg-container > #fbButton {
    position: absolute;
    transform: translateY(2rem);
}

.debug {
    border: 1px solid red;
}

.debug2 {
    border: 1px solid green;
}

/* Hide text placeholders on focus */
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

button:hover {
    background: #ccc;
    cursor: pointer;
}

.container {
}

/*
    - laisse passer les clicks à gauche
    - lorsque les sections sont cachées, la scrollbar doit être cachée
    - les sections recouvrent la page verticalement jusqu'au bord du bas
    - les ombres sont visibles
*/
#sectionContainer {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    
    top: 0;
    right: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    pointer-events: none;
}

ol, ul {
    padding-left: 30px;
}

a {
    text-decoration: none;
    color: black;
}

input, textarea, select, button {
    font-family: "Oswald";
    font-size: 26px;
    font-weight: 200;
    font-style: normal;
    background: none;
    border: none;
    outline: none;
    padding: 0.5em 1em;
}

.title-style {
    font-family: "Pacifico", cursive;
    font-size: 30px;
}

.header-area {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 0.2em;
    margin-right: 0.75em;
    position: relative;
    z-index: 3;
}

.header-area > * {
    margin-left: 10px;
}

.footer-area {
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    align-items: center;
    left: 0em;
    right: 0;
    bottom: 0em;
    z-index: 2;
}

#disconnectButton {
    font-size: 20px;
}

nav {
    font-size: 48px;
    text-align: left;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    margin-top: 1em;
}

nav::after {
    pointer-events: none;
    content: "";
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    position: absolute;
    background: black;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 0.4s;
    transition: opacity 0.4s;
}

nav .nav-item {
    cursor: pointer;
    text-decoration: none;
    letter-spacing: -0.02em;
    margin-left: 1em;
    display: block;
    margin-top: 25px;
    color: #7F7F7F;
    -webkit-transition: color 0.4s;
    transition: color 0.4s;
}

nav .nav-item:hover {
    color: black;
}

.nav-item::before {
    content: '';
    position: absolute;
    color: red;
    z-index: -1;
    height: 0.4em;
    width: 80%;
    padding-left: 0%;
    left: 125px;
    margin-top:1em;
    background: #FFFF00;
    opacity: 0.7;
    -webkit-transform: scale3d(0,1,1);
    transform: scale3d(0,1,1);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
    /*height: 36px;
    -webkit-transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
    transform: rotate3d(0,0,1,45deg) scale3d(0,1,1);
    */
}

.nav-item:hover::before {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
}

@media screen and (max-width: 42em) {
	header { font-size: 2em; }
	nav { font-size: 3.25em; }
}